#dogs img {
    border: 10px rgba(97, 255, 229, 0.396) groove;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(192, 192, 192);
    
}

#cats img {
    border: 10px rgba(34, 203, 245, 0.768) groove;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(192, 192, 192);
    
}

body {
    text-align: center;

}

h1 {
    background-color: black;
    color: white;
}

h2 {
    color: blue;
}